<%= paginate @recipes %>
<div id="recipes" class="d-flex gap-3 flex-column">
  <% if @recipes.length === 0 %>
    <div class="w-100 text-center fs-4 fw-bold border border-dark border-2 p-2">
      <i class="far fa-frown"></i>
      <span>No Public Recipes found</span>
    </div>
  <% else %>
    <% @recipes.each_with_index do |recipe, index| %>
        <%= link_to recipe_path(recipe), class: 'text-decoration-none text-dark recipe-links' do %>
            <div class="container" id="<%= dom_id recipe %>">
                <div class="row align-items-center border border-dark border-2 p-2">
                  <div class="d-flex flex-column col-4">
                    <h2><%=recipe.name%></h2>
                    <p>By: <%= recipe.user.name%></p>
                  </div>
                  <div class="col-3"></div>
                  <div class="col-5 m-0">
                    <p >Total food items: <%=recipe.recipe_foods.length%></p>
                    <p>Total price: $<%= @total_price[index] %></p>
                  </div>
                </div>
            </div>
        <% end %>
    <% end %>
  <% end %>
</div>
<%= paginate @recipes %>