<%= link_to "Back to foods", :back , class: "btn btn-secondary m-3" %>
<%= form_with model: @food, url: "/foods", local: true, scope: :food do |form| %>
  <div class="input-group m-3">
    <span class="input-group-text" id="basic-addon1">Food</span>
    <%= form.text_field :name, placeholder: "Food name", class: "form-control" %>
  </div>
  <div class="input-group m-3">
    <label class="input-group-text" for="inputGroupSelect01">Unit</label>
    <%= form.select :measurement_unit, ["grams", "punds", "units"], selected: "grams", class: "form-select" %>
  </div>
  <div class="input-group m-3">
    <span class="input-group-text" id="basic-addon1">Quantity</span>
    <%= form.number_field :quantity, in: 1.0..100.0, step: 1 , class: "form-control" %>
  </div>
  <div class="input-group m-3">
    <span class="input-group-text" id="basic-addon1">Price</span>
    <%= form.number_field :price, in: 1.0..100.0, step: 1 , class: "form-control" %>
  </div>
  <%= form.submit "Add Food" , class: "btn btn-primary m-3" %>
<% end %>
